html, body {
	position: relative;
	width: 100%;
    height: 100%;
}
body {
    background-color: #ffffff;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    color: #333;
    height: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a{
	color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(185, 177, 139);
}
label {
	display: block;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 2px solid#000000;
	border-radius: 2px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #000000;
    font-family: 'Julius Sans One', sans-serif;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #000000;
    font-family: 'Julius Sans One', sans-serif;
}
h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #504d4d;
    font-weight: 200;
    font-family: 'Julius Sans One', sans-serif;
}
h4{
    text-align: center;
    padding-top: 1vh;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 400;
    font-family: 'Julius Sans One', sans-serif;
}
strong{
    color: #0f0f0f;
}
p{
    font-size: 1.15rem;
    color: #000000;
    font-family: 'Archivo Narrow', sans-serif;
}
i{
    margin: 0 auto;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 8vh;
    color: #333;
}

/* Class's */

.segOne{
    padding-top: 4vh;
}
/* .segTwo{
    
} */
.segThree{
    padding-top: 4vh;
}
.form-control{
    border: 2px solid#000000;
    border-radius: 0;
}
.form-control:focus{
    border: 3px solid#181817;
    border-radius: 0;
    box-shadow: none;
}
.p-top{
    font-size: 1.4rem;
    text-align: center;
}
.btn-primary{
    background-color: #000;
    border-color: rgb(41, 40, 40);
    margin-top: 2vh;
    margin-bottom: 4vh;
    width: 100%;
    border-radius: 0;
}
.btn-primary:hover{
    background-color: rgb(54, 51, 51);
    border-color: rgb(73, 71, 71);
}
.btn-primary:focus{
    background-color: rgb(54, 51, 51);
    border-color: rgb(73, 71, 71);
    box-shadow: none;
}
.btn-primary:active{
    box-shadow: 0;
}
.down{
    padding-top: 2vh;
}
.center{
    display: flex;
    justify-content: center;
}
.footer_look {
    background: #000000;
    padding: 10px;
    border-top: 3px solid #252525;
}
.pad-top{
    padding-top: 6vh;
}

/* id's */

#mail{
    font-size: 22px;
}
#pricing{
    padding: 1.2rem;
}
#facebook:hover{
    color: #4C6EF5;
}
#youtube:hover{
    color: #c71e34;
}
#insta:hover{
    color: #CD2C88;
}
#linkedin:hover{
    color: #0A66C2;
}
#youtube-text{
    font-size: 1.5rem;
    text-align: center;
    padding-right: 10vw;
    padding-left: 10vw;
}
#cover{
    padding: 28%;
    background-image: url("https://cdn.statically.io/gh/wolfbyne/MTME/main/public/images/jumbo_image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#btm-border{
    height: 6vh;
    font-size: 0.85rem;
    padding: 1rem;
    background-color: #000000;
}
#pricing{
    width: 50%;
    box-shadow: 0;
}

/* Scroll bar, Chrome */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #29242A; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C0745D; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: rgba(139, 145, 160, 0.568); 
}