html, body {
	position: relative;
	width: 100%;
    height: 100%;
}
body {
    background-color: #d8c4bd23;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    color: #333;
    height: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a{
	color: rgb(201, 192, 152);
    text-decoration: none;
}
#mail{
    font-size: 22px;
}
.segOne{
    padding-top: 2vh;
}
/* .segTwo{
    
} */
.segThree{
    padding-top: 2vh;
}
a:hover {
    text-decoration: underline;
    color: rgb(185, 177, 139);
}
label {
	display: block;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 2px solid#827D54;
	border-radius: 2px;
}
.form-control{
    border: 2px solid#827D54;
    border-radius: 0;
}
.form-control:focus{
    border: 3px solid#b8ad5f;
    border-radius: 0;
    box-shadow: none;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #827D54;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #827D54;
}
h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #827D54;
    font-weight: 200;
}
h4{
    text-align: center;
    padding-top: 1vh;
    font-size: 1.5rem;
    color: #827D54;
    font-weight: 400;
}
strong{
    color: #827D54;
}
p{
    font-size: 1.15rem;
    color: #968B53;
}
.p-top{
    font-size: 1.4rem;
    text-align: center;
}
label{
    
}
#pricing{
    width: 100%;
}
.btn-primary{
    background-color: #635F40;
    border-color: #757046;
    margin-top: 2vh;
    margin-bottom: 4vh;
    width: 100%;
    border-radius: 0;
}
.btn-primary:hover{
    background-color: #97947d;
    border-color: #757046;
}
i{
    margin: 0 auto;
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    padding-top: 8vh;
    color: #333;
}
.down{
    padding-top: 2vh;
}
.center{
    display: flex;
    justify-content: center;
}
#facebook:hover{
    color: #4C6EF5;
}
#youtube:hover{
    color: #c71e34;
}
#insta:hover{
    color: #CD2C88;
}
#cover{
    padding: 28%;
    background-image: url("jumbo_image.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#btm-border{
    height: 3vh;
    background-color: #635F40;
}
.footer_look {
    background: #635F40;
    padding: 10px;
    border-top: 3px solid #7a7440;
}
.pad-top{
    padding-top: 6vh;
}
/* Scroll bar, Chrome */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #29242A; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C0745D; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: rgba(139, 145, 160, 0.568); 
}